{% extends "sportsmen/footer.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans "Ошибка" context "400_error_block_title" %}
{% endblock %}

{% block body %}
<div class="body">
    <div class="container">
        <div class="page_error_image">
            <img src="{% static 'images/400.jpg' %}">
        </div>
        <div class="page_error_text">
            <p>{% trans "Плохо сформирован запрос!" context "400_page_error_text" %}</p>
        </div>
    </div>
</div>
{% endblock %}