{% extends "sportsmen/footer.html" %}
{% load i18n %}

{% block title %}
    {% trans "Вход" context "login_block_title" %}
{% endblock %}

{% block body %}
<div class="body">
    <div class="container">
        <div class="login">
            {% if error %}
                <div class="login_error">
                    <p> {{ error }} </p>
                </div>
            {% endif %}
            <div class="login_text">
                <p>{% trans "Вход" context "login_login_text" %}</p>
            </div>
            <div class="login_form">
                <form action="/account/login/" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form_login">
                        {{field.label_tag}}
                        <div class="input_field">{{field}}</div>
                    </div>
                    {% endfor %}
                    <div class="login_form_input">
                        <input type="submit" value="{% trans 'Войти' context 'login_submit' %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}